<div class="loginPage">
<div class="loginConts">
  <p>Sign Up</p>
  <div class="signup_usrNm">
    <label>Username<label>
    <input placeholder="Cloud One">
  </div>

  <div class="sgnup_phnNum">
    <label>Phone Number<label>
    <input placeholder="+260*********">
  </div>
  <div class="sgnup_emal">
     <label>Email<label>
     <input placeholder="cloud!@gmail.com">
  </div>

  <div class="sgnup_pwd">
   <label>Password<label>
     <input type="password" placeholder="**********">
  </div>

  <div class="sgnup_pwd">
   <label>Confirm Password<label>
     <input type="password" placeholder="***********">
  </div>

  <div class="signup_Btn">
    <button class="signupBtn">Submit</button>
  </div>
</div>
</div>
