<div class="signupPage">
  <div class="signupConts">
    <p>Sign Up</p>
    <div class="signup_usrNm">
      <label>Username</label>
      <input name="usrnm" class="sgnp_usrnm_inpt" placeholder="Cloud One" />
    </div>

    <div class="sgnup_phnNum">
      <label>Phone Number</label>
      <input name="phnm" class="sgnp_phnm_inpt" placeholder="+260*********" />
    </div>
    <div class="sgnup_emal">
      <label>Email</label>
      <input name="emlm" class="sgnp_eml_inpt" placeholder="cloud!@gmail.com" />
    </div>

    <div class="sgnup_pwd">
      <label>Password</label>
      <input
        name="psswd"
        class="sgnp_psswd_inpt"
        type="password"
        placeholder="**********"
      />
    </div>

    <div class="sgnup_pwd">
      <label>Confirm Password</label>
      <input
        name="cfpsswd"
        class="sgnp_fmpsswd_inpt"
        type="password"
        placeholder="***********"
      />
    </div>

    <div id="erMgs_pnl">
      <p id="sgnp_ermgs" style="display: none;"></p>
    </div>
    <div class="lgin_Pl">
      <p>Already have an account? <span class="lgnLinkBtn">Login</span></p>
    </div>

    <div class="sgnp_Btn_pnl">
      <button class="sgnp_Btn">Submit</button>
    </div>
  </div>
</div>