.lgn_eml_inpt {
  background-color: #0a0c0d;
}
.lgn_psswd_inpt {
  background-color: #0a0c0d;
}
.lgn_cfmpsswd_inpt {
  background-color: #0a0c0d;
}
#lgn_erMgs_pnl {
  margin-top: 7px;
  color: #e93d00;
}
.lgnLinkBtn {
  color: #f5deb3;
}
