.sgnp_usrnm_inpt {
  background-color: #0a0c0d;
}
.signup {
  background-color: #0a0c0d;
}
.sgnp_phnm_inpt {
  background-color: #0a0c0d;
}
.sgnp_eml_inpt {
  background-color: #0a0c0d;
}
.sgnp_psswd_inpt {
  background-color: #0a0c0d;
}
.sgnp_fmpsswd_inpt {
  background-color: #0a0c0d;
}
#sgnp_ermgs {
  color: #e93d00;
}
.sgnpLink {
  color: #f5deb3;
}
.frgtLinkBtn {
  color: #f5deb3;
}
